 <div class="body">
    <div class="container">
        <h1>Tous les articles</h1>
    </div>
    <div class="lien">
        <%= link_to 'Créer un article', new_article_path, class: "lien-btn" %>
    </div>
   <%= render 'articles', obj: @articles %>
</div>