<body>
    <div class="container">
        <h1>Welcome to the party</h1>
        <p>Talk to me nice</p>
    </div>
    <div class="column">
        <div class="">
        
        </div>
    </div>
</body>