/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    box-sizing: border-box;
}

.navbar .logo {
    padding-left: 60px;
    font-size: 3em;
    background: linear-gradient(151.22deg, #8348FF -13.04%, #0785F3 83.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar a {
    color: rgba(85, 85, 85, 1);
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 30px;
    padding-right: 60px;
}

.container {
    padding: 80px;
    font-size: 2em;
    text-align: center;
    color: white;
    background-color:rgba(85, 85, 85, 1);
}

.container p {
    padding-top: 30px;
}

.form {
    padding-left: 30px;
    font-size: 1.2em;
}

.form a {
    padding: 10px;
}

.form p {
    padding: 5px;
}

.form td {
    padding: 5px;
}

.lien {
    padding-top: 20px;
    padding-left: 40px;
    color: cornflowerblue;
}

.error {
    text-align: center;
    padding-top: 20px;
    font-size: 1.2em;
    color: brown;
}