<footer>
  <div class="content-footer">
    <div class="footer-left">
      <h3><%= link_to 'iZYREMPLA', home_path, class:"color"%></h3>
      <ul class="services-list">
        <li><%= link_to 'About', about_path, class:"color" %></li>
        <li><%= link_to 'Blog', blog_path, class:"color" %></li>
      </ul>
    </div>

    <div class="footer-right">
      <h3>Nous contacter</h3>
      <p>01 23 45 67 89</p>
      <p>supportclient@contact.com</p>
      <p>21 Rue de la Console, 13015 Marseille</p>
    </div>
  </div>
</footer>
